/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}

html {
 scroll-behavior: smooth;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
 background: #888;
}

::-webkit-scrollbar-thumb:hover {
 background: #555;
}

/* css garaje de estilo */
section {
 padding: 100px 0;
}

.max-width {
 margin: auto;
 padding: 0 80px;
 max-width: 1300px;
}

.about, .resume, .attributes, .contact, footer {
 font-family: 'Rubik', sans-serif;
}

.about .about-content {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}

.resume .resume-content {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}

.skills .skills-content {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}

.contact .contact-content {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
}

section .title {
 position: relative;
 text-align: center;
 font-size: 40px;
 font-weight: 500;
 padding-bottom: 20px;
 margin-bottom: 60px;
 font-family:Arial, Helvetica, sans-serif
}

section .title::before {
 content: "";
 position: absolute;
 bottom: 0px;
 left: 50%;
 height: 3px;
 background: #111;
 width: 180px;
 transform: translateX(-50%);
}

section .title::after {
 position: absolute;
 bottom: -8px;
 left: 50%;
 font-size: 20px;
 color: #aa0505;
 background: #fff;
 padding: 0 5px;
 transform: translateX(-50%);
}

/* estilo de navegacion */
.navbar {
 position: fixed;
 width: 100%;
 z-index: 999;
 padding: 30px 0;
 font-family: Arial, Helvetica, sans-serif;
 transition: all 0.3s ease;
}

.navbar.sticky {
 padding: 15px 0;
 background: #aa0505;
}

.navbar .max-width {
   justify-content: space-between;
   display: flex;
   align-items: center;
}

.navbar .logo a {
 font-size: 35px;
 font-weight: 600;
 color: #fff;
}

.navbar .logo a span {
 color: gold;
 transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
 color: #fff;
}

.navbar .menu li {
 list-style: none;
 display: inline-block;
}

.navbar .menu li a {
 display: block;
 color: #fff;
 font-size: 18px;
 font-weight: 500;
 margin-left: 25px;
 transition: color 0.3s ease;
}

.navbar .menu li a:hover {
 color: #800000;
}

.navbar.sticky .menu li a:hover {
 color: #fff;
}

/* boton de variantes */
.menu-btn {
 color: #fff;
 cursor: pointer;
 display: none;
 font-size: 23px;
}

.scroll-up-btn {
 position: fixed;
 height: 45px;
 width: 42px;
 background: #800000;
 bottom: 10px;
 right: 30px;
 text-align:center;
 line-height: 45px;
 color: #fff;
 z-index: 9999;
 font-size: 30px;
 border-radius: 6px;
 border-bottom-width: 2px;
 cursor: pointer;
 opacity: 0;
 pointer-events: none;
 transition: all 0.3s ease;
}

.scroll-up-btn.show {
 bottom: 30px;
 pointer-events: auto;
 opacity: 1;
}

.scroll-up-btn:hover {
 filter: brightness(90%);
}

/* estilo de seccion mi casa jaja */
.home {
 display: flex;
 background: url("./images/goldwater.jpg") no-repeat center;
 height: 100vh;
 color: #fff;
 min-height: 500px;
 background-size: cover;
 background-attachment: fixed;
 font-family: 'Rubik', sans-serif;
}

.home .max-width {
 display: flex;
 width: 100%;
}

.home .max-width .row {
 margin-right: 0;
}

.home .home-content .text-1 {
 font-size: 27px;
}

.home .home-content .text-2 {
 font-size: 75px;
 font-weight: 600;
 margin-left: -3px;
}

.home .home-content .text-3 span {
 color: #aa0505;
 font-weight: 500;
}

.home .home-content a {
 display: inline-block;
 background: #aa0505;
 font-size: 25px;
 padding: 12px 36px;
 margin-top: 20px;
 font-weight: 400;
 border-radius: 6px;
 border: 2px solid #aa0505;
 transition: all 0.3s ease;
 color: #fff;
}

.home .home-content a:hover {
 color: #aa0505;
 background: none;
}

/* bio section */
.about .title::after {
   content: "who i am";
}

.about .about-content .left {
   width: 45%;
}

.about .about-content .left img {
   height: 400px;
   object-fit: cover;
   width: 300px;
   border-radius: 6px
}

.about .about-content .right {
   width: 55%;
}

.about .about-content .right .text {
   font-size: 25px;
   margin-bottom: 10px;
   font-weight: 600;
}

.about .about-content .right p {
   text-align: justify;
}

.about .about-content .right .text span {
   color:#aa0505
}

.about .about-content .right a {
   display: inline-block;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   background:#aa0505;
   padding: 10px 30px;
   margin-top: 20px;
   border-radius: 6px;
   border: 2px solid #aa0505;
   transition: all 0.3s ease;
}

.about .about-content .right a:hover {
   background: none;
   color: #aa0505;
}

/* seccion de servicio */
.services, .teams {
   background: #111;
   color: #fff;
}

.services .title::before,
.teams .title::before {
   background: #fff;
}

.services .title::after,
.teams .title::after {
   background: #111;
   content: "what i provide";
}

.services .serv-content .card {
   width: calc(33% - 25px);
   text-align: center;
   border-radius: 6px;
   padding: 50px 25px;
   background: #222;
   cursor: pointer;
   transition: all 0.3s ease;
   background-size: contain;
   background: #aa0505;
   background-position: center;
}

.services .serv-content .card:hover {
   background-image: url(images/jamestribe.png);
}

.services .serv-content .card .box {
   transform: scale(1.05);
}

.services .serv-content .card i {
   font-size: 50px;
   color: #aa0505;
   transition: color 0.3s ease;
}

.services .serv-content .card:hover i{
   color: #fff;
}

.services .serv-content .card .text {
   font-size: 25px;
   font-weight: 500;
   margin: 10px 0 7px 0;
}

